@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display&display=swap');
.main {
    color: #f00;
    font-size: 18px;
    .point {
        color: #faf;
    }
}
// #root{
//     &>div{
//         padding: 20px 0;
//     }
// }
.image-card{
    display: flex;
    align-items: center;
    margin-bottom: 5px;
    .image-block{
        width: 28px;
        height: 28px;
        margin-right: 10px;
        background-image: url(../../dist/img/test.jpg);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
    }
}




#root{
    width: 100%;
  }
  .container{
    width: 80%;
    margin: 0 auto;
  }
  .card-caption{
    .card-tool{
      padding: 10px;
      width: 100%;
      .tool-content{
        display: flex;
        align-items: center;
        margin-bottom: 10px;
        input{
          margin-top: 4px;
        }
        label{
          span{
            width: 28px;
            display: inline-block;
          }
        }
      }
      
    }
    .card-content{
    display: flex;
    .card-item{
      padding: 10px 10px;
      label{
        display: flex;
        align-items: center;
        flex-direction: column;
        cursor: pointer;
        input{
          margin-bottom: 10px;
        }
        .card-image{
          width: 28px;
          height: 28px;
          position: relative;
          overflow: hidden;
          outline: 1px solid #000;
          img{
            z-index: 1;
            position: absolute;
            width: inherit;
            height: inherit;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
          }
        } 
      }
    }
   }
  }


@import 'lib/reset';
@import 'lib/variables';
@import 'lib/mixins';
@import 'lib/font-awesome/scss/font-awesome';
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100;300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display&display=swap');
body{
  font-family: 'Noto Sans TC', sans-serif;
  color:#fff;
}


.nav-bar{
  height: 100%;
  width: $desktop-nav-width * 1px;
  background-color: #041d17;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 11;
  min-height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  @media screen and (max-width: ($mobile-max-width)) {
    width: 100%;
    top: auto;
    bottom: 0;
    min-height: auto;
    height: 55px;
  }
  .nav-content{
    display: flex;
    flex-direction: column;
    @media screen and (max-width: ($mobile-max-width)) {
      flex-direction: row;
    }
    li{
      margin: 10px 0;
      width: 100%;
      flex-shrink: 0;
      @media screen and (max-width: ($mobile-max-width)) {
        width: 55px;
      }
      a{
        color: #909096;
        // color: #08fdd8;
        padding: 10px 0;
        text-decoration: none;
        font-size: 13px;
        font-weight: 300;
        display: block;
        width: 100%;
        text-align: center;
        position: relative;
        span{
          opacity: 0;
          transition: all 0.25s ease-out;
          display: block;
        }
        i{
          font-size: 22px;
          position: absolute;
          left: 50%;
          top: 50%;
          transform: translate(-50%, -50%);
          transition: all 0.25s ease-out;
        }
        &.active{
          color: #08fdd8;
        }
        &:hover{
          color: #08fdd8;
          i{
            opacity: 0.4;
            transform: translate(-75%, -50%);
          }
          span{
            opacity: 1;
            transform: translateX(10%);
          }
        }
      }
    }
  }
  
}
.page{
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: $color-bg;
  padding-left: $desktop-nav-width * 1px;
  overflow-y: auto;
  @media screen and (max-width: ($mobile-max-width)) {
    padding-left: 25px;
    padding-bottom: $mobile-nav-height;
  }
}

.protfolio-content{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  @media screen and (max-width: ($mobile-max-width)) {
    height: 100%;
  }
  .protfolio-list{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    position: relative;
    padding-left: 45px;
    @media screen and (max-width: ($mobile-max-width)) {
      padding-left: 0;
    }
    &:last-child{
      @media screen and (max-width: ($mobile-max-width)) {
        padding-bottom: 80px;
      }
    }
    .protfolio-year{
      font-family: 'Big Shoulders Display', 'Noto Sans TC', sans-serif;
      position: absolute;
      top: 0;
      left: 0;
      width: 45px;
      display: flex;
      align-items: center;
      writing-mode: vertical-lr;
      text-orientation: upright;
      font-size: 24px;
      letter-spacing: 2;
      padding-top: 12px;

      opacity: 0;
      visibility: hidden;
      transition: opacity 0.3s ease-in-out;
      @media screen and (max-width: ($mobile-max-width)) {
        position: sticky;
        text-outline: 0;
        left: 0;
        z-index: 6;
        height: 185px;
        padding-top: 40px;
        padding-bottom: 20px;
        background-color: $color-bg;
        background: linear-gradient(165deg, #0f221d 0%, #0f221d 35%, rgba(0,0,0,0) 85%);
      }
      &.done{
        opacity: 1;
        visibility: visible;
      }
      & + .protfolio-card{
        @media screen and (max-width: ($mobile-max-width)) {
          margin-top: -170px;
        }
      }
    }
    .protfolio-card{
      display: flex;
      position: relative;
      width: 20%;
      max-width: 400px;
      
      opacity: 0;
      visibility: hidden;
      transition: opacity 0.3s ease-in-out;
      @media screen and (max-width: ($laptop-max-width)) {
        width: 25%;
      }
      @media screen and (max-width: ($mobile-max-width)) {
        max-width: 100%;
        width: 100%;
        margin-right: 65px;
        margin-bottom: 15px;
      }
      &:last-child{
        @media screen and (max-width: ($mobile-max-width)) {
          margin-bottom: 0;
        }
      }
      &.done{
        opacity: 1;
        visibility: visible;
      }
      .protfolio-card-padding{
        width: 100%;
        padding-top: 100%;
        position: relative;
        .protfolio-card-content{
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          .image-block{
            position: relative;
            width: inherit;
            height: inherit;
            overflow: hidden;
            img{
              width: 100%;
              height: 100%;
              object-fit: cover;
              object-position: center;
              transition: all 0.15s ease-in-out;
            }
            &:before{
              content: "";
              position: absolute;
              width: 100%;
              height: 100%;
              top: 0;
              left: 0;
              background-color: rgba(0,0,0,0.7);
              transition: all 0.25s ease-in;
              z-index: 1;
              @media screen and (max-width: ($mobile-max-width)) {
                background-color: rgba(0,0,0,0.3);
                background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 78%, rgba(0, 0, 0, 0.45) 85%, rgba(0, 0, 0, 0.6) 100%);
              }
            }
          }
          .link-block{
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            display: flex;
            flex-direction: column;
            z-index: 2;
            width: 160px;
            height: 160px;
            background: #10221e;
            align-items: center;
            justify-content: center;
            opacity: 0;
            visibility: hidden;
            transition: all 0.2s ease-in;
            @media screen and (max-width: ($mobile-max-width)) {
              transform: translate(0, 0);
              top: auto;
              left: auto;
              bottom: 0;
              width: 100%;
              height: 60px;
              align-items: flex-start;
              padding-left: 85px;
              justify-content: flex-end;
              padding-bottom: 7px;
              opacity: 1;
              visibility: visible;
            }
            &:after{
              content: "";
              position: absolute;
              top: 50%;
              left: 50%;
              transform: translate(-50%, -50%);
              background-color: transparent;
              border: 2px solid #08fdd8;
              width: 140px;
              height: 140px;
              pointer-events: none;
              @media screen and (max-width: ($mobile-max-width)) {
                width: 60px;
                height: 60px;
                top: auto;
                left: 10px;
                bottom: 10px;
                transform: none;
              }
            }
            a{
              text-decoration: none;
              color: $color-white;
              line-height: 1.5;
            }
          }
        }
      }
      &:hover{
        @media screen and (min-width: 768px) {
          .protfolio-card-padding{
            .protfolio-card-content{
              .image-block{
                &:before{
                  background-color: rgba(0,0,0,0);
                }
                img{
                  transform: scale(1.1);
                }
              }
              .link-block{
                opacity: 1;
                visibility: visible;
              }
            }
          }
        }
      }
      
    }
  }
}
  